@model System.Collections.Generic.List<leave_management.Models.DetailsLeaveTypeVm>

@{
    ViewData["Title"] = "Index";
}

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
<div>
      
</div>
</body>
</html>